.cus-btn {
	--tw-text-opacity: 1;
	color: rgb(17 24 39 / var(--tw-text-opacity));
	background: linear-gradient(90deg, #f27d0d 0%, #e4974e 50%, #f27d0d 100%),
		linear-gradient(0deg, #ffffff, #ffffff);
	background-size: 200% 100%;
}

.cus-btn:hover {
	background-position: 100% 0;
}
